/mssql-jdbc-8.4.0.jre11-sources.jar
/jsmpp-2.3.10-sources.jar
/mssql-jdbc-8.4.1.jre11.jar
/mssql-jdbc_auth-8.2.2.x64.dll
/mssql-jdbc-8.4.0.jre11.jar
/mssql-jdbc_auth-8.4.0.x64.dll
/mssql-jdbc-8.4.1.jre11-javadoc.jar
/mssql-jdbc-8.2.2.jre11-sources.jar
/mssql-jdbc_auth-8.4.1.x64.dll
/log4j-1.2.17.jar
/mssql-jdbc-8.4.0.jre11-javadoc.jar
/mssql-jdbc-8.2.2.jre11-javadoc.jar
/slf4j-api-1.7.30.jar
/jsmpp-2.3.9-sources.jar
/slf4j-log4j12-1.7.30.jar
/jsmpp-2.3.9-javadoc.jar
/slf4j-log4j12-1.7.30-javadoc.jar
/jsmpp-2.3.10.jar
/slf4j-log4j12-1.7.30-sources.jar
/jsmpp-2.3.9.jar
/jsmpp-2.3.10-javadoc.jar
/mssql-jdbc-8.2.2.jre11.jar
/mssql-jdbc-8.4.1.jre11-sources.jar
